* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  header {
    height: 90px;
    width: 100%;
    background-color: #0c2461;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-list li {
    float: left;
    list-style: none;
    margin: 30px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
  }
  
  .header-list li:hover {
    color:aqua;
    cursor: pointer;
  }
  
  .header-right {
    float: right;
    background-color: #f76a7b;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 30px 20px;
    color: black;
  }
  
  .header-right a {
    color:#dee7ec;
  }
  
  .header-right:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }
  
  .header-left {
    float: left;
  }
  
  .logo {
    width: 75px;
    margin-top: 23px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .top-wrapper {
    padding: 250px 0 400px 0;
    color: white;
  }
  
  .footer {
    background-color: #0c2461;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    padding-top:30px;
    padding-left: 20px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
    transition: 0.5s;
  }
  
  li {
    list-style:none;
  }
  
  .footer-list a {
    color: white;
    transition: 0.5;
  }
  
  .footer-list a:hover {
    color:aqua;
    cursor: pointer;
  }
  
  .footer-list li:hover {
    color:aqua;
    cursor: pointer;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .bars {
    color: white;
    font-size: 25px;
    padding: 21px 0;
  }
  
  span.menu-icon {            
    color: white;            
    float: right;            
    font-size: 25px;            
    padding: 21px 0;            
    display: none;
  }